@media (max-width:1000px) {
    
    .container-login{
        
        display: flex;
        flex-direction: column;
        background-color: var(--cinza-escuro);
        padding: 3.5em 5em;
        border-radius: 32px;
        gap: 3em;
        
    }

    .imagem-login {
        width: 100% ;
        padding-top: 350px;
    }

    .form__checkbox-texto {
       display: flex;
       
    }
    
    .form__opcoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding-top: 15px;

    }
 

}